/* Import Font Style From Google Font */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); /*Lato*/

/* Create Variable CSS for Global Use */
:root {
  --primary-color: #231E39;
  --border: 1px solid #03BFCB;
  --shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
}

/* Basic Setting for Global CSS*/
* {
  margin: 0 auto;
  box-sizing: border-box;
}
html {
  block-size: 100%;
  inline-size: 100%;
}
body {
  min-block-size: 100%;
  min-inline-size: 100%;
  font-family: 'Lato', sans-serif;
	color: #B3B8CD;
  background-color: grey;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}